<div class="Company-blog company-blog-<%=comp.id%>">
    <div class="info">
        <div class="name">
            <span>
                <%= comp.cname%>
            </span>
        </div>
        <div class="details">
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <span>
                    <%= comp.email%>
                </span>
            </div>
            <div class="phone">
                <span>
                    <i class="fa-solid fa-phone"></i>
                    <%= comp.phone%>
                </span>
            </div>
            <div class="address">
                <address>
                    <i class="fa-solid fa-location-dot"></i>
                    <%= comp.address%>
                </address>
            </div>
            <%if(comp.verified){%>
                <div class="re-action">
                    <div class="volunteer-action">
                        <p>
                            <button onclick="openVolActionModal('<%=comp.id%>')">
                                <i class="fa-solid fa-user-nurse"></i>
                                Volunteer
                            </button>
                        </p>
                        <div class="vol-action-modal-container">
                            <div class="vol-action-background-controller modal-background-handler">

                            </div>
                            <div id="vol-action-modal-<%=comp.id%>" class="Modal">
                                <div>
                                    <p onclick="closeModal()" class="close">X</p>
                                </div>
                                <div class="vol-action-modal">
                                    <div class="vol-action-section-prev">
                                        <button onclick="prevVol('<%=comp.id%>')">&lt;</button>
                                    </div>
                                    <%let index=0%>
                                        <div class="vol-action-section-panel">
                                            <div class="vol-action-heading">
                                                <p></p>
                                            </div>
                                            <div class="vol-action-vol-name">

                                            </div>
                                            <div class="vol-action-vol-email">

                                            </div>
                                            <div class="vol-action-vol-phone">

                                            </div>
                                            <div class="vol-action-footer">
                                                <button class="vol-action-add-<%=comp.id%>"
                                                    onclick="removeVolAction('<%=comp.id%>')">
                                                    Remove
                                                </button>
                                            </div>
                                        </div>


                                        <div class="vol-action-section-next">
                                            <button onClick="nextVol('<%=comp.id%>')">&gt;</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="roomalloted">
                        <p>
                            <button>
                                <i class="fa-solid fa-people-roof"></i>
                                Room
                            </button>
                        </p>
                    </div>
                </div>
                <%}%>
        </div>
    </div>
    <div class="status">
        <div class="remover-<%=comp.id%> remover">
            <div class="remove-icon">
                <i class="fa-solid fa-ellipsis-vertical" onclick="showRemover('<%=comp.id%>')"></i>
            </div>
            <button class="remove-button">
                <a href="/author/author-action/remove-company/?id=<%= comp.id%>">Remove</a>
            </button>
        </div>
        <div class="hiring-status">
            <%{%>
                <% let today=new Date();%>
                    <% let from=comp.hiringFrom%>
                        <% let to=comp.hiringUpto%>
                            <%if ((from<today)&&(today<to)){%>

                                <p class="status-line green-white">
                                    Actively Hiring
                                </p>
                                <div class="date-of-hiring">
                                    <p>
                                        <span>
                                            From :
                                        </span>
                                        <span>
                                            <%= from.getDate()%>-<%=from.getMonth()%>-<%= from.getFullYear()%>
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            To :
                                        </span>
                                        <span>
                                            <%= to.getDate()%>-<%=to.getMonth()%>-<%= to.getFullYear()%>
                                        </span>
                                    </p>
                                </div>
                                <%}else{%>
                                    <%if(today<from){%>
                                        <p class="status-line yellow-white">
                                            Will Hire From
                                        </p>
                                        <div class="date-of-hiring">
                                            <span>
                                                <%= from.getDate()%>-<%=from.getMonth()%>-<%= from.getFullYear()%>
                                            </span>
                                        </div>
                                        <%}else{%>
                                            <p class="status-line red-white">
                                                Hiring Closed
                                            </p>
                                            <%}%>
                                                <%}%>
                                                    <%}%>
        </div>
        <div class="verification-status">
            <%if (comp.verified==true){%>
                <div class="verification-done">
                    <p>
                        Verified
                    </p>
                </div>
                <%}else{%>
                    <div class="verification-pending">
                        <!-- <a href="/author-action/verify"> -->
                        <p id="<%= comp.id%>" onmouseover="changeVerificationText('<%=comp.id%>')"
                            onclick="openModal('<%=comp.id%>')">
                            Verification Pending
                        </p>


                        <!-- Modal Window  -->
                        <div class="modal-container">
                            <div class="modal-background-handler">
                            </div>
                            <div class="Modal" id="verification-modal-<%=comp.id%>">

                                <!-- Company DtaILS  -->
                                <div class="verification-comp-info">
                                    <p class="vHeading">
                                        <%=comp.cname%>
                                    </p>
                                    <p>
                                        <%=comp.email%>
                                    </p>
                                    <p onclick="closeModal()" class="close">X</p>
                                </div>

                                <!-- fROM  -->
                                <div class="verification-form">

                                    <form class="verification-form"
                                        action="/author/author-action/allot/?id=<%=comp.id%>" method="post">
                                        <div class="room-info">

                                            <!-- Room ENtry  -->

                                            <label for="">Room No</label>
                                            <input type="text" name="block" class="block room" placeholder="Block">
                                            <input type="text" name="floor" class="floor room" placeholder="Floor">
                                            <input type="text" name="roomNo" class="roomNo room" placeholder="Room">
                                        </div>

                                        <!-- Volunteer Section -->

                                        <% { let count=1%>
                                            <div class="modal-volunteer">
                                                
                                                <div id="volunteer<%=count%>" class="per-vol">

                                                    <div class="modal-vol-nav">

                                                        <p>Volunteer 1</p>
                                                        <p onclick="removeVol('volunteer<%=count%>')"
                                                            class="vol-remove">X</p>

                                                    </div>

                                                    <input type="text" name="volName" placeholder="Name"
                                                        class="vol-input">

                                                    <input type="text" name="volPhone" placeholder="Phone"
                                                        class="vol-input">

                                                    <input type="email" name="volEmail" placeholder="Email"
                                                        class="vol-input">


                                                </div>
                                                <div class="add-vol-button">
                                                    <p onclick="addVol('modal-volunteer','<%=comp.id%>')">Add</p>
                                                </div>
                                            </div>
                                            <%}%>
                                            <div class="allot-button">
                                                <input type="submit" value="Allot">
                                            </div>
                                    </form>
                                </div>


                            </div>
                        </div>



                        <!-- </a> -->
                    </div>
                    <%}%>
        </div>
    </div>
</div>