<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>

    <!-- JQUERY  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Animate.css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Typed js -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!-- Font Awesome  -->
    <script src="https://kit.fontawesome.com/e784f7575e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/author/authorLayout.css">
    <%- style%>
</head>

<body>
    <div id="body-layout">
        <div id="header-layout">
            <%- include('_authorheader')%>
        </div>
        <div id="main-layout">
            <%- body%>
        </div>
    </div>
    <%- script%>
</body>

</html>